{
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "jsx": true
  },
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": 2,
    "quotes": [1, "single"]
  }
}