body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.player {
    vertical-align:middle;
    height: 50px;
    line-height:4em;
    border-bottom: 1px solid #8A8A8A;
}

.playerScore {
    cursor: pointer;
    display: inline-block;
    margin: auto;
}

.playerName {
    width: 150px;
    display: inline-block;
    margin: auto;
}
